@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}


html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

  /* fonts */

  .poppins {
    font-family: "Poppins", serif;
  }
  
.content {
  overflow-x: hidden;
  width: 334px;
  height: 216px;
  border-radius: 3px;
  overflow-y: hidden;
  padding: 0;
}

.wrapper {
  padding: 10px;
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
}



.swiper {
  width: 100%
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {

  display: block;
  width: 100%;
  height: 22vw;
  object-fit: cover;
}

.Scroll {
  direction: rtl;
}






/* hover effect on card */

.box {
  position: relative;
  cursor: pointer;
  perspective: 2000px;
  perspective-origin: 50% 100%;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #8738ff;
  background-size: cover;
  transition: .6s;
  border-radius: 10px;
  transform-origin: bottom;
}

.bg1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0263a7;
  background-size: cover;
  transition: .6s;
  border-radius: 10px;
  transform-origin: bottom;
}

.bg0 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #134986;
  background-size: cover;
  transition: .6s;
  border-radius: 10px;
  transform-origin: bottom;
}

.bg2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0cb2f9;
  background-size: cover;
  transition: .6s;
  border-radius: 10px;
  transform-origin: bottom;
}

.bg3 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  background-size: cover;
  transition: .6s;
  border-radius: 10px;
  transform-origin: bottom;
}

/* Hover effects */
.box:hover .bg {
  transform: rotateX(-14deg) scale3d(1, 1, 1) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
}

.box:hover .bg0 {
  transform: rotateX(-24deg) scale3d(1, 1, 1) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
}

.box:hover .bg1 {
  transform: rotateX(-30deg) scale3d(1, 1, 1) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
}

.box:hover .bg2 {
  transform: rotateX(-36deg) scale3d(1, 1, 1) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
}

.box:hover .bg3 {
  transform: rotateX(-42deg) scale3d(1, 1, 1) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
}



/* Container for nav links */
.nav-link-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* Nav links transition */
.nav-link,
.nav-link-duplicate {
  transition: transform 0.3s ease;
}

/* Sliding text effect */
.nav-link-container:hover .nav-link {
  transform: translateY(-100%);
}

.nav-link-container:hover .nav-link-duplicate {
  transform: translateY(-100%);
}

/* Bottom border effect */
.nav-link-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px; /* Border thickness */
  background-color: #000; /* Border color */
  transition: width 0.3s ease;
}

/* Border expands on hover */
.nav-link-container:hover::after {
  width: 100%;
}

/* Active nav link border */
.nav-link-container.active-nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Border thickness */
  background-color: #000; /* Border color */
}


