@tailwind base;
@tailwind components;
@tailwind utilities;


  

  
  .swiper {
    width: 100%
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    
    display: block;
    width: 100%;
    height: 22vw;
    object-fit: cover;
  }
  .Scroll {
    direction: rtl; 
    } 




    .text-stroke {
      color: transparent; /* Makes the inside of the text invisible */
      -webkit-text-stroke: 2px black; /* Sets the stroke */
      text-stroke: 2px black; /* Fallback for non-WebKit browsers */
      font-size: 5rem; /* Adjust size as needed */
      text-transform: uppercase;
    }
  